In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
482,tt1555064,15000000,20529194,Country Strong,Gwyneth Paltrow|Garrett Hedlund|Tim McGraw|Lei...,Shana Feste,It doesn't matter where you've been as long as...,Soon after the rising young singer-songwriter ...,117,Drama|Romance,Maguire Entertainment|Screen Gems|Sony Picture...,12/22/2010,5.9,2010
1712,tt0385752,180000000,372234864,The Golden Compass,Nicole Kidman|Daniel Craig|Dakota Blue Richard...,Chris Weitz,There are worlds beyond our own - the compass ...,"After overhearing a shocking secret, precociou...",113,Adventure|Fantasy,New Line Cinema|Ingenious Film Partners|Depth ...,12/4/2007,5.7,2007
735,tt1564367,80000000,214918407,Just Go With It,Jennifer Aniston|Adam Sandler|Nicole Kidman|Ba...,Dennis Dugan,Sometimes a guy's best wingman... is a wingwoman,"In Just Go With It, a plastic surgeon, romanci...",117,Romance|Comedy,Columbia Pictures|Happy Madison Productions,2/10/2011,6.3,2011
969,tt0279493,25000000,41604473,Undercover Brother,Eddie Griffin|Chris Kattan|Denise Richards|Aun...,Malcolm D. Lee,He's All Action,"An Afro-American organization, the B.R.O.T.H.E...",86,Action|Comedy,Universal Pictures,5/31/2002,5.4,2002
1711,tt0389722,30000000,75505973,30 Days of Night,Josh Hartnett|Melissa George|Ben Foster|Danny ...,David Slade,They're Coming!,This is the story of an isolated Alaskan town ...,113,Horror|Thriller,Columbia Pictures|Dark Horse Entertainment|Gho...,10/17/2007,6.1,2007

In [3]:
# data.describe()

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# информация о структуре таблицы
# data.info(verbose=True, memory_usage=False, show_counts=True)

# добавляет колонку прибыльности фильма
data['profit'] = data.revenue - data.budget

# изменяет формат даты и добавляет колонку месяца релиза
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month


# словарь месяцев
month_dict = {
    1:'Январь', 2:'Февраль', 3:'Март',
    4:'Апрель', 5:'Май', 6:'Июнь', 
    7:'Июль', 8:'Август', 9:'Сентябрь', 
    10:'Октябрь', 11:'Ноябрь', 12:'Декабрь', 
}
df_month = pd.DataFrame(['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 
                        'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                      index=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                    columns=['month'])

# словарь времён года
time_dict = {
    'Осень': [9, 10, 11],
    'Зима' : [12, 1, 2], 
    'Весна': [3, 4, 5],
    'Лето' : [6, 7, 8], 
}


# добавлена функция после сдачи проекта и проверки менторами
def save_answer(answer, data_tmp):
    """Функция сохранения ответов в словарь"""
    type_data = type(data_tmp)  # тип данных в переменную
    # print(type_data)
    
    if type_data is pd.core.frame.DataFrame:  # если датафрейм, получение названия фильма с идентификатором
        original_title = data_tmp.original_title.to_string(index=False)
        imdb_id = data_tmp.imdb_id.to_string(index=False)
        answers[answer] = f"{original_title} ({imdb_id})"  # строка фильма с идентификатором в скобках
        
    elif type_data is int or type_data is str:  # если число или строка 
        answers[answer] = data_tmp
    
    print(answers[answer])  # вывод ответа для проверки

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data_tmp = data[data.budget == data.budget.max()]  # получение фильма с максимальным бюджетом

# сохранение в словарь ответов
save_answer('1', data_tmp)

Pirates of the Caribbean: On Stranger Tides (tt1298650)

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# а мне лень, впереди ещё куча вопросов )

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
# answers['2'] = '...'

In [9]:
data_tmp = data[data.runtime == data.runtime.max()]  # получение самого продолжительного фильма

# далее получение названия и imdb_id фильма без индексов и сохранение в словарь с ответами
#original_title = data_tmp.original_title.to_string(index=False)
#imdb_id = data_tmp.imdb_id.to_string(index=False)
#answers['2'] = f"{original_title} ({imdb_id})"

# сохранение в словарь ответов
save_answer('2', data_tmp)

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data_tmp = data[data.runtime == data.runtime.min()]  # получение самого короткого по времени фильма
    
# далее получение названия и imdb_id фильма без индексов и сохранение в словарь с ответами
#original_title = data_tmp.original_title.to_string(index=False)
#imdb_id = data_tmp.imdb_id.to_string(index=False)
#answers['3'] = f"{original_title} ({imdb_id})"

# сохранение в словарь ответов
save_answer('3', data_tmp)

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [11]:
data_tmp = round(data['runtime'].mean())  # получение округлённого значения

# сохранение в словарь ответов
save_answer('4', data_tmp)

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
data_tmp = round(data['runtime'].median())  # получение медианного значения

# сохранение в словарь ответов
save_answer('5', data_tmp)

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале

# получение ответа, седержащегося в виде датафрейма с нужной строкой, использовав созданную колонку profit в предобработке
data_tmp = data[data.profit == data.profit.max()]

# сохранение в словарь ответов
save_answer('6', data_tmp)

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [14]:
# получение ответа, седержащегося в виде датафрейма с нужной строкой, использовав созданную колонку profit в предобработке
data_tmp = data[data.profit == data.profit.min()]

# сохранение в словарь ответов
save_answer('7', data_tmp)

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
# используется созданная колонка profit в предобработке
data_tmp = data[data.profit > 0]  # выборка всех фильмов у которых профит больше нуля
value = len(data_tmp)

# сохранение в словарь ответов
save_answer('8', value)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
data_tmp = data[(data.release_year == 2008)]  # сначала отбор всех фильмов 2008 года
data_tmp = data_tmp[(data_tmp.revenue == data_tmp.revenue.max())]  # затем выбор фильмов с максимальным кассовым сбором

# сохранение в словарь ответов
save_answer('9', data_tmp)

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
# на этот раз используется функция query для отбора по условию
data_tmp = data.query('2012 <= release_year <= 2014')  # сначала отбор всех фильмов с 2012 по 2014 годов выпуска
data_tmp = data_tmp[(data_tmp.profit == data_tmp.profit.min())]  # затем выбор фильма с максимальным сбором

# сохранение в словарь ответов
save_answer('10', data_tmp)

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data_genres = data[['genres']].copy()  # копирование датафрейма с нужными колонками
data_genres['genres'] = data_genres.genres.str.split('|')  # преобразование строки в список по разделителю
data_genres = data_genres.explode('genres')  # преобразование элементов списка в столбце в строку с репликацией строк по индексу

counts = data_genres.genres.value_counts()  # количество по каждому жанру
#genre_max = str(counts[counts == counts.max()].keys()[0])  # ключ с названием жанра с максимальным значением
genre_max = str(counts[counts == counts.max()].idxmax())  # ключ с названием жанра с максимальным значением

# сохранение в словарь ответов
save_answer('11', genre_max)

Drama

ВАРИАНТ 2

In [19]:
# лень, много времени уходит на прокрастинацию )

#### Замечания и дополнения от менторов:
В 11 вопросе для решения также подойдёт функция Counter().

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
data_genres = data[['genres', 'profit']].copy()  # копирование датафрейма с нужными колонками
data_genres = data_genres[data_genres['profit'] > 0]  # фильтр, профит больше нуля

# обработка жанров
data_genres['genres'] = data_genres.genres.str.split('|')  # преобразование строки в список по разделителю
data_genres = data_genres.explode('genres')  # преобразование элементов списка в столбце в строку с репликацией строк по индексу
data_genres = data_genres.genres.value_counts()  # подстчёт значений

# сохранение в словарь ответов
save_answer('12', data_genres.index[0])

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
data_tmp = data[['director', 'revenue']].copy()  # копирование датафрейма с нужными колонками
data_tmp['director'] = data_tmp.director.str.split('|')  # преобразование строки в список по разделителю
data_tmp = data_tmp.explode('director')  # преобразование элементов списка в столбце в строку с репликацией строк по индексу

director_profit = data_tmp.groupby('director').revenue.sum().idxmax()  # получим ответ с помощью
# группировки столбца и суммированием профита

# сохранение в словарь ответов
save_answer('13', director_profit)

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
data_tmp = data[['director', 'genres']].copy()  # копирование датафрейма с нужными колонками

# сначала обработка столбца genres
data_tmp['genres'] = data_tmp.genres.str.split('|')  # преобразование строки в список по разделителю
data_tmp = data_tmp.explode('genres')  # преобразование элементов списка в столбце в строку с репликацией строк по индексу

# оставить только жанр Action
data_tmp = data_tmp.query('genres == "Action"')

# далее обработка столбца director
data_tmp['director'] = data_tmp.director.str.split('|')  # преобразование строки в список по разделителю
data_tmp = data_tmp.explode('director')  # преобразование элементов списка в столбце в строку с репликацией строк по индексу

# получим ответ, используя группировку с подсчётом жанров, отбор режисёра с максимальным значением
director_profit = data_tmp.groupby('director').count().idxmax()['genres']

# сохранение в словарь ответов
save_answer('14', director_profit)

Robert Rodriguez

In [23]:
# ещё вариант, подсмотренный в Slack
data_tmp = data[data.genres.str.contains("Action")]  # отбор жанра
data_tmp = data_tmp['director'].str.cat(sep='|')  # превращаем все в одну строку
data_tmp = pd.Series(data_tmp.split('|'))  # создаем список разделяя строку по '|'
data_tmp = data_tmp.value_counts(ascending=False)  # считаем количество элементов
print(data_tmp.index[0])

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
data_tmp = data[['cast', 'revenue', 'release_year']].copy()  # копирование датафрейма с нужными колонками

data_tmp = data_tmp.query('release_year == 2012')  # отбор по году

# обработка по актёрам
data_tmp['cast'] = data_tmp.cast.str.split('|')  # преобразование строки в список по разделителю
data_tmp = data_tmp.explode('cast')  # преобразование элементов списка в столбце в строку с репликацией строк по индексу

# отбор актёров с максимальным кассовым сбором
data_tmp = pd.pivot_table(data_tmp, values='revenue', index='cast', aggfunc='sum').nlargest(1, 'revenue')

# сохранение в словарь ответов
save_answer('15', data_tmp['revenue'].index[0])

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
# Примечание: в фильмах, где бюджет выше среднего по данной выборке.

data_tmp = data[['cast', 'budget']].copy()  # копирование датафрейма с нужными колонками

data_tmp = data_tmp[data_tmp.budget > data_tmp.budget.mean()]  # отбор бюджета больше среднего

# обработка по актёрам
data_tmp = data_tmp.cast.str.split('|')  # преобразование строки в список по разделителю
data_tmp = pd.Series(data_tmp.sum()).value_counts()  # подстчёт количества элементов из проссумированных

# сохранение в словарь ответов
save_answer('16', data_tmp.index[0])

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
# Примечание: в фильмах, где бюджет выше среднего по данной выборке.

data_tmp = data[['cast', 'genres']].copy()  # копирование датафрейма с нужными колонками

data_tmp = data_tmp[data_tmp.cast.str.contains("Nicolas Cage")]  # все фильмы с участием данного актёра
data_tmp = data_tmp.genres.str.cat(sep='|')  # преобразование строки в список по разделителю
data_tmp = pd.Series(data_tmp.split('|'))
data_tmp = data_tmp.value_counts(ascending=False)  

# сохранение в словарь ответов
save_answer('17', data_tmp.index[0])

Action

In [27]:
# второй способ

data_tmp = data[['cast', 'genres']].copy()  # копирование датафрейма с нужными колонками

data_tmp = data_tmp[data_tmp.cast.str.contains("Nicolas Cage")]
data_tmp = data_tmp.genres.str.split('|')
data_tmp = pd.Series(data_tmp.sum()).value_counts()  # подстчёт количества элементов из проссумированных

print(data_tmp.index[0])

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [28]:
# отбор строк с нужными колонками с требуемой компанией
dt = data[data['production_companies'].str.contains('Paramount Pictures', na=False)][['imdb_id', 'original_title', 'profit']]
# отбор с самым минимальным профитом
dt = dt[dt.profit == dt.profit.min()]

# сохранение в словарь ответов
save_answer('18', dt)

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [29]:
dt = data[['revenue', 'release_year']].copy()  # копирование данных с нужными колонками
dt = dt.groupby('release_year')['revenue'].sum()  # группирование по колонке и подсчёт суммы
# dt = dt.sort_values(ascending=False)  # сортировка по колонке по убыванию
year = dt[dt == dt.max()]  # получение значения по максимальному индексу

# сохранение в словарь ответов
save_answer('19', int(year.index[0]))

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [30]:
# отбор и копирование данных с нужными колонками
dt = data[data['production_companies'].str.contains('Warner Bros')][['profit', 'release_year', 'production_companies']].copy()

# группировка по годам и получение суммы для колонки profit, сортировка
dt = dt.groupby('release_year').sum('profit').sort_values('profit', ascending=False)
year = dt.profit.index[0]  # получение первого индекса с годом

# сохранение в словарь ответов
save_answer('20', int(year))

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [31]:
dt = data[['release_month']].copy()  # копирование колонки, которая создана в предобработке
counts = dt['release_month'].value_counts()  # подсчёт месяцев
month = counts[counts == counts.max()].index[0]  # номер месяца

# сохранение в словарь ответов
save_answer('21', df_month[df_month.index == month]['month'].values[0])  # получение из словаря название месяца по номеру

Сентябрь

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [32]:
# преобразование названий месяцев в числовое значение с помощью датафрейма
s = ['Июнь', 'Июль', 'Август']
num_month = ','.join(map(str, pd.Series(df_month.query(f'month in {s}').index).values))


# получение строк с опеределёнными месяцами
# вариант 1
#count = data.query(f'release_month in [{num_month}]').value_counts('release_month').sum()
# вариант 2 - лучше
count = len(data.query(f'release_month in [{num_month}]'))  # используются числовые значения месяцев преобразованные из названий

# сохранение в словарь ответов
save_answer('22', count)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [33]:
# Какой режиссер выпускает (суммарно по годам) больше всего фильмов зимой?

dt = data[['director', 'release_month']].copy()  # копирование данных с нужными колонками

dt = dt.query('release_month in [12,1,2]')  # отбор всех строк с зимними месяцами
dt['director'] = dt['director'].str.split('|')  # преобразование строки в список по разделителю
dt = dt.explode('director')  # преобразование элементов списка в столбце в строку с репликацией
dt = dt.groupby('director')['release_month'].count().sort_values(ascending=False)  # группировка и подсчёт количества по месяцам

# вариант 2
#dt = dt.pivot_table(index=['director'], aggfunc='count', values=['release_month']).nlargest(1, 'release_month')

# сохранение в словарь ответов
save_answer('23', dt.index[0])

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [34]:
dt = data[['production_companies', 'original_title']].copy()  # копирование данных с нужными колонками

# преобразование и эксплодинг
dt['production_companies'] = dt['production_companies'].str.split('|')
dt = dt.explode('production_companies')
# создание колонки с длиной названий фильмов
dt['title_len'] = dt['original_title'].str.len()
# группировка по компаниям и вычисляет среднее значение, потом сортирует
dt = dt.groupby(['production_companies'])['title_len'].mean().sort_values(ascending=False)

# сохранение в словарь ответов
save_answer('24', dt.index[0])

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [35]:
dt = data[['production_companies', 'overview']].copy()  # копирование данных с нужными колонками

# преобразование и эксплодинг
dt['production_companies'] = dt['production_companies'].str.split('|')
dt = dt.explode('production_companies')
# создание колонки с количеством слов
dt['overview_words'] = dt['overview'].str.split().str.len()
# группировка, вычисление среднего значения и сортировка
dt = dt.groupby(['production_companies'])['overview_words'].mean().sort_values(ascending=False)

# сохранение в словарь ответов
save_answer('25', dt.index[0])

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [36]:
dt = data[['original_title', 'vote_average']].copy()  # копирует данные с нужными колонками
top_films = dt[dt['vote_average'] > dt['vote_average'].quantile(0.99)]  # получает все лучшие фильмы входящие в 1 процент

print('\n\nВесь список фильмов, которые входят в 1 процент лучших по рейтингу:')
display(top_films)  # выводит весь список полученных фильмов


# далле только для записи ответа в словарь ответов
a = [
    ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
    ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
    ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'],
    ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'],
    ['Upside Down', 'Inside Out', 'Iron Man']
]  # сгруппированный список ответов для выборки
aw = pd.DataFrame()  # создание пустого датафрейма для правильного результата, в случае неоднократного выполнения
for group in a:  # цикл перебора групп с вариантами ответов
    at = top_films.query(f'original_title in {str(group)}')  # из топ фильмов получает названия, которые есть в группе ответа
    if len(at) == len(group):  # если количество полученных фильмов равно количеству в ответе
        aw = at.copy()  # копирует полученное
        break  # останавливает цикл

print('\n\nА это ответ после выборки названий из полученных топ фильмов:')
display(aw)  # отображение имеющихся названий

# сохранение в словарь ответов
save_answer('26', ', '.join(aw['original_title'].values))

Весь список фильмов, которые входят в 1 процент лучших по рейтингу:

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

А это ответ после выборки названий из полученных топ фильмов:

        original_title  vote_average
9           Inside Out           8.0
599    The Dark Knight           8.1
1191  12 Years a Slave           7.9

Inside Out, The Dark Knight, 12 Years a Slave

#### Замечания и дополнения от менторов:
В 26-м задании для решения также подойдет метод quantile:

In [37]:
data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [38]:
dt = data[['cast']].copy()  # копирует весь столбец с актёрами, этого достаточно

dt.cast = dt.cast.str.split('|')
# формирование всех возможных пар актёров в колонку pairs
dt['pairs'] = dt.cast.apply(lambda x: list(it.combinations(sorted(x), 2)))
# разбиение всех пар по отдельным строкам с формированием часто встречающихся вариантов
dt = dt.explode('pairs').pairs.mode()
# перезаписывает в формат удобный для сравнения с ответами
dt = set(dt.apply(lambda x: f'{x[0]} & {x[1]}'))

print('Получили результат:', dt)


# далее идёт отбор нужного варианта ответа из списка предложенных
a = {
    'Johnny Depp & Helena Bonham Carter',
    'Ben Stiller & Owen Wilson',
    'Vin Diesel & Paul Walker',
    'Adam Sandler & Kevin James',
    'Daniel Radcliffe & Rupert Grint'
}

aw = str(dt.intersection(a)).strip('\'{}')
print('Отобрали из списка предложенных:', aw)

# сохранение в словарь ответов
save_answer('27', aw)

Получили результат: {'Daniel Radcliffe & Emma Watson', 'Daniel Radcliffe & Rupert Grint', 'Emma Watson & Rupert Grint'}
Отобрали из списка предложенных: Daniel Radcliffe & Rupert Grint
Daniel Radcliffe & Rupert Grint

# Submission

In [39]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [40]:
# и убедиться что ни чего не пропустил)
len(answers)

27